<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1H0j4CGBBtca9twKBSqoaV8etIDFlKuo</string>
	<key>GCM_SENDER_ID</key>
	<string>170721590285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dutified</string>
	<key>PROJECT_ID</key>
	<string>dutified-6f2f8</string>
	<key>STORAGE_BUCKET</key>
	<string>dutified-6f2f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170721590285:ios:41e07d39097f152a13a944</string>
</dict>
</plist>